@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// resetting
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// setting variables
$breakpoint: 768px;
$font-primary: "Inter", sans-serif;
$color-text: #000;
$color-border: #dedede;
$color-dropdown-bg: #fff;
$color-hover: red;
$color-skip-bg: rgb(93, 11, 11);
$nav-font-size: 18px;
$nav-gap: 40px; 

// mixin for focus state for adding outline and outline-offset
@mixin focus-box($offset: 5px, $bg-color: none) {
  &:focus {
    outline: 1px solid $color-text;
    outline-offset: $offset;
    background-color: $bg-color
  }
}

body{
  font-family: $font-primary;
  color: $color-text;
}

.skip-button{
  position: absolute;
  top: -100px;
  background-color: $color-skip-bg;
  color: $color-border;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 20px;
  margin: 50px;

  &:focus{
    top: 0;
  }
}


// setting padding, height, font-family and color for the header
header {
  padding: 50px 28px 20px 28px;
  height: 100svh;


  @media (min-width: $breakpoint) {
    padding: 100px 101.91px 22px 80px;
    height: unset;
  }
}


.navbar-utility{
  margin-bottom: 20px;
}
.navbar-utility__list{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;

  a{
    text-decoration: none;
    color: $color-text;
      @include focus-box;
  }
}

// styles for navbar, aligning items to flex-start so that it doesnot shift when submenu is expanded
.navbar {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  border-top: 1px solid $color-text;
  padding-top: 20px;


  @media (min-width: $breakpoint) {
    justify-content: space-between;
    align-content: center;
    height: unset;
  }

// setting max-width for logo container
  &__logo-container {
    max-width: 85px;
    @include focus-box;

    @media (min-width: $breakpoint) {
      max-width: 119.81px;
    }
  }

  &__logo {
    width: 100%;
    display: block;

    @include focus-box;

  }

  // styles for icon-container which contains hamburger icon
  &__icon-container {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 114px;
    right: 39px;
    cursor: pointer;
    @include focus-box;

    @media (min-width: $breakpoint) {
      display: none;
    }

    &[aria-expanded="true"] {
      .navbar__icon--open  { 
        display: none; 
      }
      .navbar__icon--close { 
        display: block; 
      }
    }
  }

  &__icon {
    width: 21px;
    height: 14px;
    display: block;

    &--close { display: none; }
  }

  // main navbar elements
  &__main {
    width: 100%;
    display: none;

    &--open {
      display: block;
      padding-top: 4.5625rem; 
    }

    @media (min-width: $breakpoint) {
      display: flex;
      align-items: center;
      width: auto;
      padding-top: 11.1px;
    }
  }

// styles for lists inside the main havbar, assigning display flex to them.
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: $nav-font-size;
    font-weight: 500;
    line-height: 150%;

    @media (min-width: $breakpoint) {
      flex-direction: row;
      align-items: center;
      gap: $nav-gap;
    }
  }

//styles for individual list items
  &__item {
    padding: 24px 0;
    border-bottom: 1px solid $color-border;

    @media (min-width: $breakpoint) {
      padding: 0;
      border-bottom: none;
      position: relative;
    }
  }

// styles for links in the list
  &__link {
    font-weight: 500;
    text-decoration: none;
    color: $color-text;
    @include focus-box;

    &:hover { 
      color: $color-hover;
    }
  }

//styles for dropdown button
  &__dropdown-trigger {

    border: none;
    background-color: transparent;
    font-size: $nav-font-size;
    font-family: inherit;
    font-weight: inherit;
    color: $color-text;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    padding: 0;
    cursor: pointer;
    text-align: left;
    @include focus-box;

    // when we have aria-expanded true,  the down arrow is rotated to make upward facing
    &[aria-expanded="true"] img {
      transform: rotate(180deg);
    }

    img {
      flex-shrink: 0;
      transition: transform 0.2s ease;
    }
  }

//  styles for dropdown box
  &__dropdown {
    display: none;
    font-weight:400 ;
    padding: 8px 0 0 16px;
  
    // we add this class through JS, when clicked on dropdown
    &--open { 
      display: block;
     }

    @media (min-width: $breakpoint) {
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      z-index: 100;
      min-width: 220px;
      padding: 8px 0;
      background-color: $color-dropdown-bg;
      border: 1px solid $color-border;
      border-radius: 8px;
      box-shadow:0 5px 10px rgba(0, 0, 0, 0.5);
    }
  }

  &__dropdown-list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__dropdown-item {
    padding: 10px 16px;
    font-weight: 400;
  }

  &__dropdown-link {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: $color-text;
    font-weight: 400;
    font-size: 16px;
  
    @include focus-box($offset:2px); 
  
  }
 
  // style for extra, which is social and contact contaainer
  &__extra {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;

    @media (min-width: $breakpoint) {
      width: auto;
      margin-top: 0;
      gap: 24px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    @include focus-box;

    img {
      width: 24px;
      height: 24px;
      display: block;
    }

    @media (min-width: $breakpoint) {
      display: none;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span {
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #666;
    }

    div {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
      }

      a {
        font-weight: 600;
        font-size: 15px;
        text-decoration: none;
        color: $color-text;
        @include focus-box($offset:3px);

        &:hover { 
          color:$color-hover; 
        }
      }
    }
  }
}

// setting the styles of main content of our page
main{
  padding: 80px;
}

.btn-main{
  background-color: $color-skip-bg;
  color: white;
  font-size: 1.2rem;
  padding: 20px 25px;

  // passing bg-color as argument so that on focus, the background changes to provided color
  @include focus-box($bg-color: rgb(235, 151, 151));
  
}