$font-family-base: "Switzer", sans-serif;
$font-family-button: "Interstate", sans-serif; // Interstate-Bold
$font-family-mono: "InterstateMono", monospace;

$text-styles: (
    "h1": (desktop: 48px,
        mobile: 34px,
        weight: 600,
        style: normal,
        letter-spacing: -1%,
        line-height-mobile: 100%,
    ),
    "h1-italic": (desktop: 42px,
        mobile: 34px,
        weight: 400,
        style: italic,
        letter-spacing: -1%,
        line-height-mobile: 100%,
    ),
    "h2": (desktop: 42px,
        mobile: 34px,
        weight: 600,
        style: normal,
        letter-spacing: -1%,
        line-height-mobile: 115%,
    ),
    "h3-semi": (desktop: 26px,
        mobile: 20px,
        weight: 600,
        style: normal,
        letter-spacing: -1%,
        line-height-mobile: normal,
    ),
    "h3-italic": (desktop: 26px,
        mobile: 20px,
        weight: 400,
        style: italic,
        letter-spacing: -1%,
        line-height-mobile: normal,
    ),
    "special-xl": (desktop: 80px,
        mobile: 40px,
        weight: 600,
        style: normal,
        letter-spacing: -1%,
        line-height-desktop: 90%,
        line-height-mobile: 100%,
    ),
    "number": (desktop: 80px,
        mobile: 60px,
        weight: 400,
        style: normal,
        letter-spacing: -5%,
        line-height-desktop: normal,
        line-height-mobile: normal,
    ),
    "intro": (desktop: 36px,
        mobile: 20px,
        weight: 400,
        style: normal,
        letter-spacing: -1%,
        line-height-desktop:normal,
        line-height-mobile: normal,
    ),

    "body": (desktop: 18px,
        mobile: 16px,
        weight: 400,
        style: normal,
        letter-spacing: -1%,
        line-height-desktop: normal,
        line-height-mobile:125%,
    ),
    "body-semi": (desktop: 18px,
        mobile: 16px,
        weight: 600,
        style: normal,
        letter-spacing: -1%,
        line-height-mobile: normal,
    ),

    "body-small": (desktop: 14px,
        mobile: 12px,
        weight: 400,
        style: normal,
        letter-spacing: -1%,
        line-height-desktop: normal,
        line-height-mobile: normal,
    ),
    "body-small-semi": (desktop: 14px,
        mobile: 12px,
        weight: 600,
        style: normal,
        letter-spacing: -1%,
        line-height-desktop: normal,
        line-height-mobile: normal,
    ),
    "body-xs": (desktop: 12px,
        mobile: 10px,
        weight: 400,
        style: normal,
        letter-spacing: -1%,
        line-height-mobile: normal,
        line-height-desktop: normal,

    ),
);


$button-text: (
    font: $font-family-button,
    weight: 700,
    size: 22px,
    letter-spacing: 10%,
    case: uppercase,
);

$mono-tag-text: (
    font: $font-family-mono,
    weight: 400,
    size: 12px,
    letter-spacing: -1%,
    case: uppercase,
);