/* defining typography (font-family and font-size) for main elements of the webpage */
/* using this folder to target elements like body, h1 and h2 directly. */
body{
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
}

h1{
    font-size: 56px;
}

h2{
    font-size: 48px;
}