@use 'mixins' as *;
@use 'variables' as *;


.navbar {

    // declaring color variables for navbar
    $nav-bg: beige;
    $nav-links: #422424;
    $logo-color: #471919;
    $hover-color: deepskyblue;
    $focus-color:rgb(218, 124, 229);
    $active-color: maroon;

    @include responsive(1rem, 1rem, 1.5rem, 1.3rem);
    background-color: $nav-bg;
    color: $nav-links;
  

    display: flex;
    justify-content: space-between;

    // nesting ul inside navbar
    ul {
        display: flex;
        // calling mixin for flex gap
        @include responsive-gap(1rem, 3.5rem);

        // nesting li inside ul
        li {
            list-style-type: none;

            // nesting a inside li
            a {
                text-decoration: none;
                padding: 5px;

                // defining color when hovered
                &:hover{
                    color: $hover-color;
                }
                // defining color when focused
                &:focus{
                    color: $focus-color;
                }
                // defining outline when active
                &:active{
                    outline: 1px solid $active-color;

                }
            }

        }
    }
  

}