/* declaring the variables */
:root {
  --gradient-color1: #fbfd94;
  --gradient-color2: #c8802c;
  --bg-color: #ffffff;
  --primary-color: #7c6957;
  --secondary-color: #8e7e6d;
  --profile-button: #f5e8df;
  --statistic-button: #cbbfb6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    30deg,
    var(--gradient-color1),
    var(--gradient-color2)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

/* creating grid for profile */
.profile-card {
  display: grid;
  width: 100%;
  max-width: 940px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--bg-color);
  /* padding: 20px 0px; */
}

/* information section that holds user's profile information */
.profile-card__info {
  grid-column: 1/2;
  color: var(--primary-color);
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding: 60px;
}

/*section that holds user's profile statistics */
.profile-card__statistic {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

/* user's profile image */
.profile-card__image {
  width: 206px;
  height: 206px;
  border-radius: 50%;
  position: relative;
}

/* creating semicircle over profile picture */
.profile-card__image-container::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  border-bottom: 3px solid var(--primary-color);
  border-right: 3px solid var(--primary-color);
  border-left: 3px solid var(--primary-color);
  border-top: 3px solid transparent;
  border-radius: 50%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

/* creating semicircle over profile picture */
.profile-card__image-container::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  border-top: 3px solid var(--primary-color);
  border-bottom: 3px solid transparent;
  border-right: 3px solid var(--primary-color);
  border-left: 3px solid var(--primary-color);
  border-radius: 50%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

/* invoking animation of rotating the semicircle on hover */
.profile-card__image-container:hover::before {
  animation: rotateinner 2s linear infinite;
}

/* invoking animation of rotating the semicircle on hover */
.profile-card__image-container:hover::after {
  animation: rotateouter 2s linear infinite;
}

/* animation */
@keyframes rotateinner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateouter {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

/* user's name */
.profile-card__title {
  font-size: 48px;
  font-weight: 600;
}

/*user's designation  */
.profile-card__subtitle {
  font-size: 30px;
  color: var(--secondary-color);
}

/* designing of profile buttons */
.profile-card__button-container {
  width: 100%;
  max-width: 356px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* profile buttons */
.profile-card__button {
  width: 100%;
  max-width: 356px;
  border: 4px solid var(--primary-color);
  border-radius: 50px;
  /* font-weight: 600; */
  padding: 10px;
  margin: 10px;
  font-size: 36px;
  color: var(--primary-color);
  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;
  cursor: pointer;
}

.profile-card__button:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.profile-card__button--dark {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.profile-card__button--dark:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

/*profile-statistic button  */
.profile-card__statistic-button {
  background-color: var(--profile-button);
  width: 100%;
  max-width: 348px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 70px;
  flex-shrink: 1;
  transition:
    background-color 0.3s ease-out,
    transform 0.3s ease-in;
}

/* if the profile buttons is not last child then putting the margin bottom */
.profile-card__statistic-button:not(:last-child) {
  margin-bottom: 4px;
}

.profile-card__statistic-count {
  font-size: 56px;
  color: var(--primary-color);
}

.profile-card__statistic-type {
  font-size: 32px;
  color: var(--secondary-color);
}

.profile-card__statistic-button:hover {
  background-color: var(--statistic-button);
}

.profile-card__statistic-button--dark {
  background-color: var(--statistic-button);
  cursor: pointer;
}

.profile-card__statistic-button--dark:hover {
  background-color: var(--profile-button);
}

@media (max-width: 768px) {
  /* Scaling down card*/
  .profile-card {
    max-width: 100%;
    grid-template-columns: 1.5fr 1fr;
  }

  /* Info section */
  .profile-card__info {
    padding: 30px;
  }

  /* Profile picture scales down */
  .profile-card__image {
    width: 140px;
    height: 140px;
  }

  .profile-card__image-container::before {
    width: 155px;
    height: 155px;
  }

  .profile-card__image-container::after {
    width: 170px;
    height: 170px;
  }

  /* Scaling down the fonts */
  .profile-card__title {
    font-size: 32px;
  }

  .profile-card__subtitle {
    font-size: 20px;
  }

  .profile-card__statistic-button {
    padding: 40px 20px;
  }

  .profile-card__statistic-count {
    font-size: 36px;
  }

  .profile-card__statistic-type {
    font-size: 22px;
  }

  .profile-card__button {
    font-size: 22px;
    padding: 8px;
    margin: 6px;
    border-width: 3px;
  }
}

@media (max-width: 480px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Stack into single column */
  .profile-card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 100%;
  }

  /* Info takes full width */
  .profile-card__info {
    grid-column: 1 / 2;
    padding: 20px;
    font-size: 24px;
  }

  .profile-card__statistic {
    grid-column: 2/3;
  }

  .profile-card__statistic-button {
    padding: 20px 10px;
    margin-bottom: 0;
    align-items: center;
  }

  .profile-card__statistic-button:not(:last-child) {
    margin-bottom: 3px;
  }

  .profile-card__image {
    width: 80px;
    height: 80px;
  }

  .profile-card__image-container::before {
    width: 83px;
    height: 83px;
  }

  .profile-card__image-container::after {
    width: 90px;
    height: 90px;
  }

  .profile-card__title {
    font-size: 26px;
  }

  .profile-card__subtitle {
    font-size: 16px;
  }

  .profile-card__statistic-count {
    font-size: 28px;
  }

  .profile-card__statistic-type {
    font-size: 16px;
  }

  .profile-card__button-container {
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
  }

  .profile-card__button {
    font-size: 18px;
    padding: 8px 16px;
    margin: 6px;
    border-width: 2px;
    flex: 1;
    max-width: 160px;
  }
}
