
/* back to top component that scrolls the screen to top. */
/* since it is an independent component and can exist anywhere or in different versions; kept in components */
.back-to-top {
    background-color: var(--highlight-color);
    color: var(--button-text);
    position: fixed;
    bottom: 20px;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
