/* defining color variables used throughout the project in settings/colors.css */
:root{
    --text-color: #5E607A;
    --highlight-color: #E9AB53;
    --button-text: #FFEBCC;
    --section-color:#00001A;
    --article-color: #C5C6CE;
    --button-bg: #F15E50;
}
