
.blog-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
    
      
        display: flex;
        flex-direction: row;
        gap: 20px;
        }
}

.blog-card {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1;

       @media (min-width: 768px) {
        display: flex;
        gap: 10px;
        flex: 1;
    }
}

.blog-card__num {
    color: var(--article-color);
}

.blog-card__text {
    color: var(--text-color);
}

.blogs-card__image {
    width: 100px;
    object-fit: cover;
    flex-shrink: 0;

    @media (min-width:768px){
        width: 100px;
        aspect-ratio: 9/16;
        object-fit: cover;
        /* flex-shrink: 0; */
    }
}

.blog-card__heading {
    color: var(--section-color);
    color: var(--section-color);
    font-size: 20px;
    transition: color 0.3s ease-in-out;

}

.blog-card:hover .blog-card__heading{
    color:var(--highlight-color);
}
