@use 'mixins' as *;
@use 'variables' as *;

.btn{
    @include padding($button-padding-tb, $button-padding-lr);
    @include flex-row;
    align-items: center;
    margin-top: $button-margin-top;
    background-color: $button-color;
    border: transparent;
    border-radius: $button-radius;
    font-size: $button-font-size;
    font-weight: $font-weight-bolder;
}