@use 'variables' as *;
@use 'mixins' as *;

h1{
    @include flex-row;
    width: 100%;
    font-size: $heading-font-size;
    padding-bottom: $h1-padding-bottom;
    font-weight: $font-weight-bolder;
}