$body-bg: #F3F8FF;
$body-font:"Inter", sans-serif;
$body-padding-tb:5.25rem; 
$body-padding-lr:12rem;

$heading-font-size: 3.5rem;
$button-font-size: 1.18rem;
$title-font-size: 1.5rem;
$tag-font-size: 0.938rem;

$h1-padding-bottom: 4.25rem;


$button-color: #FFC247;
$button-radius: 2.62rem;
$button-padding-tb: 1rem;
$button-padding-lr: 1.25rem;
$button-margin-top: 4.5rem;

$card-max-width: 320px;
$card-padding: 3rem;
$card-bg: white;
$card-radius: 3rem;
$card-line-height: 1.5rem;
$card-gap: 3rem;
$title-padding-bottom: 1.5rem;

$tag-position: 1.5rem;
$tag-radius: 3rem;
$tag-padding-tb: 0.75rem;
$tag-padding-lr: 1.25rem;

$font-weight-bolder: 800;
$font-weight-bold: 700;
$font-weight-light: 400;