@use 'sass:list';
@use 'mixins' as *;
@use 'variables' as *;


// styling fo card container and card
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    
    background-color: $section-color;
    color: $card-color;
    // uses mixins to apply padding differently to diffrent devices for respoinsiveness
    @include responsive-padding(list.nth($spacing-scale,3),list.nth($spacing-scale, 5));
}