/* defining the main grid layout in the layout folder */

/* creating grid for profile */
.profile-card {
  display: grid;
  width: 100%;
  max-width: 940px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--bg-color);


  /* defining smaller columns for tablet view */
@media (max-width: 768px) {
    max-width: 100%;
    grid-template-columns: 1.5fr 1fr;
  
}

/* defining even smaller one for mobile view */
@media (max-width: 480px) {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;

}
}